{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block nav %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.admin') }}">Dashboard</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.women') }}">Women</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.men') }}">Men</a></div>
{% endblock %}

{% block content %}
     <div class="dashboard-container">
        <div class="statistic"></div>
        <div class="cloth-from">
            <h2>Item Upload </h2>
            <form action="http://127.0.0.1/admin" method="POST" enctype="multipart/form-data">
                <label for="color">Color</label><input type="text" class="color" name="color">
                <label for="gender">Gender</label><input type="text" class="gender" name="gender">
                <label for="company">Company</label><input type="text" class="company" name="company">
                <label for="sleeve">Sleeve</label><input type="" class="sleeve" name="sleeve">
                <label for="image">Image</label><input type="file" class="image" name="image">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}