{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block css %}
      <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
{% endblock %}

{% block nav %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.women') }}">Women</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.men') }}">Men</a></div>
{% endblock %}

{% block content %}
    <form action="http://127.0.0.1/admin" method="POST" enctype="multipart/form-data">
        <label for="color">Color</label><input type="text" class="color" name="color">
        <label for="gender">Gender</label><input type="text" class="gender" name="gender">
        <label for="company">Company</label><input type="text" class="company" name="company">
        <label for="sleeve">Sleeve</label><input type="text" class="sleeve" name="sleeve">
        <label for="image">Image</label><input type="file" class="image" name="image">
        <button type="submit">Submit</button>
    </form>
{% endblock %}