{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block nav %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.admin') }}">Dashboard</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.women') }}">Women</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.men') }}">Men</a></div>
{% endblock %}

{% block content %}
     <div class="dashboard-container">
        <div class="statistic"></div>
        <div class="cloth-from">
            <form action="{{ url_for('Admin.createTable')}}" method="POST" enctype="multipart/form-data">
                <div class="div1 form-div">
                    <label for="color">Color</label><input type="text" class="color" name="color" required>
                </div>
                <div class="div2 form-div">
                    <label for="company">Company </label><input type="text" class="company" name="company" required>
                </div>
                <div class="div4 form-div">
                    <label for="count">Count </label><input type="number" name="count" required>
                    <label for="price">Price </label><input type="number" name="price" required>
                </div>
                <div class="div5 form-div">
                    <legend>Gender</legend>
                    <input type="radio" id="male" value="men" name="gender" checked><label for="male">Male</label>
                    <input type="radio" id="female" value="women" name="gender" ><label for="female">Female</label>
                </div>
                <div class="div5 form-div">
                    <input type="radio" id="top" value="length" name="cloth"><label for="top">Top</label>
                    <input type="radio" id="bottom" value="sleeve" name="cloth"><label for="bottom">Bottom</label>
                </div>
                <div class="div5 form-div" id="topBot">

                </div>
                <div class="div7 form-div">
                    <label for="image">Image</label><input type="file" class="image" name="image" required>
                </div>
                <div class="div8 form-div">
                    <button type="submit">Enter Data</button>
                </div>
            </form>
        </div>
    </div>
    </div>
{% block scrpt %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
{% endblock %}