{% extends "base.html" %}

{% block title %}
    Cloth
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block nav %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.home') }}">Welcome</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.women') }}">Women</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.men') }}">Men</a></div>
{% if title %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.admin') }}">Dashboard</a></div>
{% else %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.cart') }}">cart</a></div>
{% endif %}
{% endblock %}

{% block content %}
    <main>
        <section id="welcome">
            <h2>ALMAKKI</h2>
            <h3>Where Tradition meet Modern</h3>
            <article>Our online shop is designed with modernity and convenience in mind, offering an exceptional shopping experience for all our customers. We pride ourselves on providing a wide selection of high-quality products that cater to both style and functionality. The sleek, user-friendly design ensures that every visitor can easily navigate through our store, finding exactly what they need with just a few clicks. Whether you’re looking for the latest trends or timeless classics.</article>
        </section>
        <section id="men">
            <h3>Men</h3>
            <article>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quo, nisi, molestiae modi reprehenderit placeat ut debitis ipsum voluptatibus pariatur et nobis nemo eum harum dolorum, distinctio natus dicta exercitationem!</article>
        </section>
        <section id="women">
            <h3>Women</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat aperiam laboriosam enim hic, nostrum accusantium laudantium voluptates consectetur ipsa quas laborum tempora, eaque voluptatem? Quae ipsa repellendus tempore dicta sequi?</p>
        </section>
        <section id="kids">
            <h3>Kids</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quaerat ullam, architecto explicabo illum nisi est excepturi suscipit. Hic ab atque commodi minus quibusdam saepe voluptate ipsum quis placeat assumenda?</p>
        </section>
        <section id="cart">
            <h2>Basket <span><i class="fa-solid fa-cart-shopping"></i></span></h2>
            <form id="form" action="https://www.freecodecamp.com/email-submit">
                <p>Ready to cart, and Claim what is your Right</p>
                <fieldset>
                    <label for="email">Email: </label>
                    <input id="email" class="email" type="email" name="email" placeholder="example@gmail.com" required>
                    <input id="submit" type="submit" value="Purchase" class="button" name="submit">
                </fieldset>
            </form>
        </section>
    </main>
{% endblock %}
