{% extends "base.html" %}

{% block title %}
    Women Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='women.css') }}">
{% endblock %}

{% block nav %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.home') }}">Welcome</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.women') }}">Women</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.men') }}">Men</a></div>
{% if title %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.admin') }}">Dashboard</a></div>
{% else %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.cart') }}">cart</a></div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="filters">
        <div class="filter-group">
            <label for="sleeve">Sleeve</label>
            <select name="sleeve" id="sleeve">
                <option value="">None</option>
                <option value="short">Short</option>
                <option value="long">Long</option>
            </select>
        </div>
        
        <div class="filter-group">
            <label for="pants">Pants</label>
            <select name="pants" id="pants">
                <option value="">None</option>
                <option value="short">Short</option>
                <option value="long">Long</option>
            </select>
        </div>
    
        <div class="filter-group">
            <label for="color">Color</label>
            <select name="color" id="color"></select>
        </div>
    </div>
    <div id="items">

    </div>
</div>
{% block scrpt %}
    <script>
        const user = 'women';
    </script>
    <script src="{{ url_for('static', filename='js/men.js') }}"></script>
{% endblock %}
{% endblock %}