{% extends "base.html" %}

{% block title %}
    Women Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='women.css') }}">
{% endblock %}

{% block nav %}
    <div class="line"><a class="nav-link" href="{{ url_for('bp.home') }}/">Welcome</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.women') }}">Women</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.men') }}">Men</a></div>
    <div class="line"><a class="nav-link" href="{{ url_for('bp.cart') }}">cart</a></div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="items">

        </div>
    </div>
{% endblock %}