* {
    box-sizing: border-box;
}

:root {
    --bg-color: #FEF9E1;   /* Background */
    --header-footer: #6D2323; /* Header & Footer */
    --text-color: #A31D1D;  /* Text */
    --accent-color: #E5D0AC; /* Accents */
}

html {
    scroll-behavior: smooth;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    background-color: var(--bg-color);

}

#header {
    /* background-color: #3E2C2C; */
    display: flex;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    border-bottom: 10px;
}

.logo {
    width: 8%;
    aspect-ratio: 1/ 1;
    background-color: #6D2323;
}

#nav-bar {
    margin: auto;
    width: 92%;
    height: 100%;
    display: flex;   /* to make the element inside the nav-bar flex in row formate*/
    justify-content: space-evenly; /* to make space between the element of the flex*/
}

#nav-bar .line a {
    color: rgba(250, 247, 247, 0.967);
}

#nav-bar .line:last-child  a{
    color: goldenrod;
}

.line {
    background-color: var(--header-footer);
    display: flex;     /* so you can center the links anchors <a>*/
    width: 100%;
    border-left: 1px solid black;
    align-items: center;    /*to center it in Vertically*/
    justify-content: center; /*to center them horizantly*/
}

.line:hover{
    background: #5A4545;
    transition: background-color 0.5s ease-in-out;
}

section {
    margin: 200px;
}

.line:nth-of-type(2) {
    background-color: transparent;
    a {
        color: black !important;
    }
}

.container {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 8px;
    /* background-color: red; */
    /* padding-top: 70px; */
    /* padding-left: 90px; */
    /* border: 2px solid black; */
}

.filters {
    background-color: #EADBC8;
    display: flex;
    height: fit-content;
    color: #3E2C2C;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 90px; /* Now it only affects the spacing between groups */
    margin-bottom: -100px;
}

.filter-group {
    display: flex;
    flex-direction: column; /* Keeps label & select stacked together */
    align-items: center;
}

select {
    width: 200px;
    margin-left: 50px;
    aspect-ratio: 1/0.2;
    opacity: 60%;
}

#items {
    margin-top: -400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: red; */
    justify-content: space-around;
    margin: 20px 0;
}
.cards {
    width: 322.8px; /* Fixed size for the card */
    height: 450px; /* Fixed height for the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    /* background-color: black;  Light background for the card */
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2);
}

.card_image {
    width: 100%;
    height: 85%;
}
.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.text_image{ 
    font-size: smaller;
    width: 100%;
    height: 100%;
    /* background-color: #d6d1b8; */

}

.boold {
    /* font-weight: bold; */
    margin-top: 15px;
    line-height: 30%;
    margin-left: 10px;
}
a {
    text-decoration: none;
}


.footer-container {
    background-color: var(--header-footer);
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    grid-template-rows: 20vh 10vh;
    border-radius: 5px;
    margin-top: 50px;
}

.footer-container * {
    color: #FAF3F3;
}

.footer-section a {
    margin: 0 2px;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    .footer-container {
        grid-template-rows: auto auto auto;
        gap: 20px;
        padding-left: 10px;
    }
    
    .footer-section a {
        margin: 0 2px;
        align-items: center;
    }

    iframe {
        width: 200px;
        height: 200px;
    }

}